<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Tienda Rails Girls Cali', root_path, class: "navbar-brand" %>
      <%= form_tag search_products_path, class: 'navbar-form navbar-left pull-right',
             role: 'search', method: :get do %>
          <div class="form-group">
            <%= text_field_tag :product_name, @product_name, class: 'form-control',
                               placeholder: 'Buscar productos' %>
          </div>
          <%= submit_tag 'Buscar', class: 'btn btn-default' %>
        <% end %>
        
    </div>
    <% if admin_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li>
          <%= link_to "Cerrar Sesión", destroy_admin_session_path, method: :delete %>
            </li>
          </ul>
        <% end %>
  </div>
</nav>